body
{
    background: url(images/backgrnd.jpg);
    background-size: cover;
}
a
{
    display: inline;
}
.login, .signup
{
    color: white;
}
.text-end:hover
{
    color:black;
}
.mb-3
{
    background: url(images/gym.jpg) no-repeat center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
}